---
layout: default
title: ""
description: ""
---
<!-- Any section element inside of this container is displayed as a slide -->
<div id="wrapper">
    <div class="wrapper">
        <div id="kobra-contestWrap">
            <div class="w-lightbox-close"></div>
            <div class="kobra-contest" data-key="Henry_Danger_Thundermans_Doppeltheldbesser_Kampagne">
            </div>

        </div><!--kobra-contestWrap ende-->
    {% include header.html %}
    {% include nav.html %}
    {% include social.html %}
    {% include gewinnspiel.html %}
    {% include game.html %}
    {% include app.html %}
    {% include video.html %}
    {% include spiele.html %}
    {% include helden.html %}
    {% include footer.html %}
</div>