<div id="App" class="app">
    <h2 class="strike">App Download</h2>
    <p>Kennst du schon die neue „Doppelt Held Besser“ App? Lade sie hier kostenlos herunter und teste deine Superpower und die Deiner Freunde!</p>
    <div class="appfooter">
        <img src="images/App_Art.png">
        <div class="row">
            <a href="#" onClick="var s=s_gi('rsid'); s.linkTrackVars='prop1'; s.linkTrackEvents='event1'; s.prop1='App Google'; s.events='event1'; s.tl(this,'o','App google');"><img data-ix="new-interaction1" src="images/google_play.png"></a>
            <a href="#" onClick="var s=s_gi('rsid'); s.linkTrackVars='prop1'; s.linkTrackEvents='event1'; s.prop1='App Iphone'; s.events='event1'; s.tl(this,'o','App Iphone');"><img data-ix="new-interaction1" src="images/apple_store.png"></a>

        </div>
    </div>
</div>