<footer>
    <div class="sociallinks">
        <a href="http://www.nick.de/nickelodeonplay" target="_blank" onClick="var s=s_gi('rsid'); s.linkTrackVars='prop1'; s.linkTrackEvents='event1'; s.prop1='NickApp'; s.events='event1'; s.tl(this,'o','NickApp');">
            <img class="nickappbutton" data-ix="new-interaction1" src="images/Nick.png">
        </a>
        <a href="https://www.facebook.com/nickelodeondeutschland/" target="_blank" onClick="var s=s_gi('rsid'); s.linkTrackVars='prop1'; s.linkTrackEvents='event1'; s.prop1='Facebook'; s.events='event1'; s.tl(this,'o','FaceBook');">
            <img class="facebookbutton" data-ix="new-interaction1" src="images/Fb.png">
        </a>
    </div>
</footer>