<div class="game" id="Game">

    <h2 class="firstheading">Alles klar? dann los!</h2>


    <div class="again"><img src="images/no.gif"></div>
    <div class="gamecolumn">

        <div class="tresorWrap">
            <div class="lefticons">
                <img src="images/icon_laser_eyes.png" class="droppable" id="p" myval="x">

                <img src="images/icon_runner.png" class="droppable">

                <img src="images/icon_magnet.png" class="droppable">

                <img src="images/icon_teleport.png" class="droppable">

            </div>

            <div class="curtainLeft" ></div>
            <div class="curtainRight"></div>
            <div class="leftDropzone"></div>
            <div class="rightDropzone"></div>

            <div class="leftSuccess">
                <div class="greyLightLeft"></div>
                <div class="greenLightLeft"></div>
                <div class="redLightLeft"></div>
            </div>

            <div class="rightSuccess">
                <div class="greyLightRight"></div>
                <div class="greenLightRight"></div>
                <div class="redLightRight"></div>
            </div>

            <div class="content">
                <div class="contentTextWrap">

                    <button class="button" data-ix="new-interaction1">weiter</button>

                </div>
                <!-- END YOUR CONTENT -->
            </div>

            <div class="righticons">
                <img src="images/icon_fire.png" class="droppable" myval="x" id="o">

                <img src="images/icon_flash.png" class="droppable">

                <img src="images/icon_bubble.png" class="droppable">

                <img src="images/icon_frost.png" class="droppable">

            </div>

            <div class="tresor">
            </div>
        </div><!-- TrwsorWrap Ende-->
    </div>
</div>
<div class="clearfix"></div>