<div id="Gameimg" class="gewinnspiel">
    <h2 class="strike">Gewinnspiel</h2>
    <p>Hier kannst Du heldenhafte Preise gewinnen.<br> Eine Playstation 4 oder eines von drei Apple Ipad Mini warten auf Dich. <br>Verbinde die richtigen Symbole und nimm am Gewinnspiel teil!</p>
    <div class="row">
        <div class="col-2-1 gametext">
            <h2>So geht's!</h2>

            <ul class="list">
                <li>Schalte um 18:15 Henry Danger und im Anschluß die Thundermanns ein.</li>
                <li>Merke Dir jeweils das Symbol, das während der Sendung am unteren Bildrand eingeblendet wird.</li>
                <li>Setze das jeweils richtige Symbol in die Tresort&uuml;r rein.</li>
            </ul>
            <p>Mit etwas Gl&uuml;ck gewinnst Du einen der heldenhaften Preise!</p>
        </div>
        <div class="col-2-1 gameimages">
            <img src="images/win_ps4.png">
            <br>
            <img src="images/win_ipad.png">
        </div>
    </div>
</div>