<head>
        <meta charset="utf-8">
        <title>doppeltHeldbesser</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <link rel="stylesheet" href="{{ "css/main.css" | prepend: site.baseurl }}">
        <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
        <meta content="http://www.mynickid.com" name="kobra:url" />
        <meta content="4e6747423c75ce131700000f" name="kobra:id" />
        <script src="js/modernizr.js"></script>
</head>