<div id="Galerie" class="helden">
    <h2 class="strike">Heldengalerie</h2>
    <p>Wie wurde Henry Danger zum Superhelden und verfügen alle Mitglieder der Familie Thundermann über Superpower? Hier erfährst du mehr über Deine Lieblings Superhelden.</p>
    <div class="row">
        <div class="col-2-1">
            <div class="slider1-next navs next"></div>
            <div class="slider1-prev navs prev"></div>
            <ul class="red">
                <li>
                    <div class="slidewrapper">
                        <div class="slideimage">
                            <img src="images/charakters/Captain_Man.png">
                        </div>
                        <div class="slidetext">
                            <p>Captain Man ist der Nummer eins Superheld in Swellview. Er ist mutig, heroisch und dank eines Laborunfalls vollkommen unzerst&ouml;rbar.</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="slidewrapper">
                        <div class="slideimage">
                            <img src="images/charakters/Charlotte.png">
                        </div>
                        <div class="slidetext">
                            <p>Henrys Freundin Charlotte ist blitzgescheit. Sie ist super schlau, aber auch super sarkastisch. Was ihr durch den Kopf geht, spricht sie immer unverbl&uuml;mt aus und hat damit in der Regel auch immer Recht.</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="slidewrapper">
                        <div class="slideimage">
                            <img src="images/charakters/Franchise_image.png">
                        </div>
                        <div class="slidetext">
                            <p>Der 13-j&auml;hrige Henry suchte eigentlich nur einen Nebenjob, doch wurde so zu Captain Mans Superhelden-Gehilfen. Er führt nun ein geheimes Doppelleben und erlebt immer wieder neue Abenteuer</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="slidewrapper">
                        <div class="slideimage">
                            <img src="images/charakters/Henry_Hart.png">
                        </div>
                        <div class="slidetext">
                            <p>Henry Hart war ein durchschnittlicher 13 j&auml;hriger Junge. Bis zu dem Tag, an dem er den Nebenjob seines Lebens ergatterte. Denn seitdem ist er Kid Danger, Captain Mans Nummer zwei und der neueste Sidekick in Swellview.</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="slidewrapper">
                        <div class="slideimage">
                            <img src="images/charakters/Jasper.png">
                        </div>
                        <div class="slidetext">
                            <p>Japser und Henry sind seit der Vorschule die allerbesten Freunde. Er ist ein bisschen albern und schafft es immer, seine besten Freunde aufzumuntern.</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-2-1">
            <div class="slider2-next navs next"></div>
            <div class="slider2-prev navs prev"></div>
            <ul class="blue">
                <li>
                    <div class="slidewrapper">
                        <div class="slideimage">
                            <img src="images/charakters/004.jpg">
                        </div>
                        <div class="slidetext">
                            <p>Was ist cooler als ein Superheld? Eine ganze Superhelden-Familie!</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="slidewrapper">
                        <div class="slideimage">
                            <img src="images/charakters/Barb.jpg">
                        </div>
                        <div class="slidetext">
                            <p>Barb versucht krampfhaft, dass ihre Familie nach außen hin total normal wirkt.</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="slidewrapper">
                        <div class="slideimage">
                            <img src="images/charakters/Billy.jpg">
                        </div>
                        <div class="slidetext">
                            <p>Billy m&ouml;chte ohne Umwege ein Superheld werden und aus diesem Grund ist sein bester Freund sein Junior-Superhelden-Handbuch!</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="slidewrapper">
                        <div class="slideimage">
                            <img src="images/charakters/Dr.%20Colosso.jpg">
                        </div>
                        <div class="slidetext">
                            <p>Fr&uuml;her war Dr. Colosso ein starker Superschurke, doch er wurde von Hank Thunderman besiegt und in einen sprechenden Hasen verwandelt.</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="slidewrapper">
                        <div class="slideimage">
                            <img src="images/charakters/Hank.jpg">
                        </div>
                        <div class="slidetext">
                            <p>Das ist Hank, der einst heldenhafte Superheld, der einige b&ouml;se Typen aus dem Weg r&auml;umte.</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="slidewrapper">
                        <div class="slideimage">
                            <img src="images/charakters/Max.jpg">
                        </div>
                        <div class="slidetext">
                            <p>Wenn es um Hektik geht, ist Max Thunderman zur Stelle.</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="slidewrapper">
                        <div class="slideimage">
                            <img src="images/charakters/Nora.jpg">
                        </div>
                        <div class="slidetext">
                            <p>Nora mag zwar die Kleinste der Thundermans sein, aber sie wei&zslig;; weitaus mehr, als ihr junges Alter vermuten l&auml;sst.</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="slidewrapper">
                        <div class="slideimage">
                            <img src="images/charakters/Phoebe.jpg">
                        </div>
                        <div class="slidetext">
                            <p>Phoebe Thunderman sieht vielleicht aus wie das nette M&auml;dchen von nebenan, aber ihre Superkr&auml;fte sprechen dagegen!</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>