<script type="text/javascript">

    function sendHeight()
    {
        if(parent.postMessage)
        {
            // replace #wrapper with element that contains
            // actual page content
            var height= document.getElementById('wrapper').offsetHeight;
            console.log(height);
            parent.postMessage(height, '*');
        }
    }

    // Create browser compatible event handler.
    var eventMethod = window.addEventListener ? "addEventListener" : "attachEvent";
    var eventer = window[eventMethod];
    var messageEvent = eventMethod == "attachEvent" ? "onmessage" : "message";

    // Listen for a message from the iframe.
    eventer(messageEvent, function(e) {

                if (isNaN(e.data)) return;

                sendHeight();

            },
            false);
</script>

<script src="js/jquery.js"></script>
<script src="js/ui.js"></script>
<script src="js/punch.js"></script>

<script src="js/jquery.bxslider.js"></script>
<script src="js/game.js"></script>
<script src="js/newJS.js"></script>


<script src="js/translation.js"></script>