<div id="Games" class="spiele">
    <h2 class="strike">Spiele</h2>
    <ul class="list">
        <li>
            <a class="w-inline-block blue"
               href="http://www.nick.de/spiele/726-die-thundermans-wer-sind-deine-thunder-bffs"
               data-ix="new-interaction1"
               onClick="var s=s_gi('rsid'); s.linkTrackVars='prop1'; s.linkTrackEvents='event1'; s.prop1='Spiel 1'; s.events='event1'; s.tl(this,'o','Spiel 1');"><img
                    src="images/im1.jpg">
            </a>
        </li>
        <li>
            <a class="w-inline-block red" data-ix="new-interaction1" href="http://www.nick.de/spiele/561-die-thundermans-helden-bosewichte-vereinigt-euch
"
               onClick="var s=s_gi('rsid'); s.linkTrackVars='prop1'; s.linkTrackEvents='event1'; s.prop1='Spiel 5'; s.events='event1'; s.tl(this,'o','Spiel 5');"><img
                    src="images/im2.jpg"></a>
        </li>
        <li>
            <a class="w-inline-block blue" data-ix="new-interaction1"
               href="http://www.nick.de/spiele/551-die-thundermans-was-ist-deine-superkraft"
               onClick="var s=s_gi('rsid'); s.linkTrackVars='prop1'; s.linkTrackEvents='event1'; s.prop1='Spiel 1'; s.events='event1'; s.tl(this,'o','Spiel 3');">
                <img src="images/im3.jpg">
            </a>
        </li>
        <li><a class="w-inline-block red" data-ix="new-interaction1"
               href="http://www.nick.de/spiele/784-henry-danger-rescue-rumble"
               onClick="var s=s_gi('rsid'); s.linkTrackVars='prop1'; s.linkTrackEvents='event1'; s.prop1='Spiel 4'; s.events='event1'; s.tl(this,'o','Spiel 4');"><img
                src="images/im4.jpg">
        </a></li>
        <li><a class="w-inline-block blue" data-ix="new-interaction1"
               href="http://www.nick.de/spiele/780-henry-danger-was-ist-deine-superpower"
               onClick="var s=s_gi('rsid'); s.linkTrackVars='prop1'; s.linkTrackEvents='event1'; s.prop1='Spiel 1'; s.events='event1'; s.tl(this,'o','Spiel 2');"><img
                src="images/im5.jpg">
        </a></li>
        <li><a class="w-inline-block red" data-ix="new-interaction1"
               href="http://www.nick.de/spiele/743-henry-danger-entdecke-deine-danger-bestimmung"
               onClick="var s=s_gi('rsid'); s.linkTrackVars='prop1'; s.linkTrackEvents='event1'; s.prop1='Spiel 6'; s.events='event1'; s.tl(this,'o','Spiel 6');"><img
                src="images/im6.jpg">
        </a></li>
        <li><a class="w-inline-block blue" data-ix="new-interaction1"
               href="http://www.nick.de/spiele/728-henry-danger-bist-du-gefahrlich-schlau"
               onClick="var s=s_gi('rsid'); s.linkTrackVars='prop1'; s.linkTrackEvents='event1'; s.prop1='Spiel 7'; s.events='event1'; s.tl(this,'o','Spiel 7');"><img
                src="images/im7.jpg">
        </a></li>
        <li><a class="w-inline-block red" data-ix="new-interaction1"
               href="http://www.nick.de/spiele/757-henry-danger-danger-thunder-zugrettung"
               onClick="var s=s_gi('rsid'); s.linkTrackVars='prop1'; s.linkTrackEvents='event1'; s.prop1='Spiel 8'; s.events='event1'; s.tl(this,'o','Spiel 8');"><img
                src="images/im8.jpg">
        </a></li>
    </ul>
</div>